body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color:lemonchiffon;
}
.site-title {
    color:darksalmon;
}
#my-image {
    box-shadow: 0 0 2px black;
}
.my-hobbies {list-style: square;
}
.my-hobbies li:nth-child(odd) {
    background-color:mistyrose;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav a {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(218, 183, 28);
    border: 1px solid rgb(175, 231, 173);
    text-align: center;
}
nav a:hover,
nav a:focus {
    background-color: rgb(187, 87, 201);
}