body {
    background-color: #aad4cf;
    display: flex;
    align-items: center;
    justify-content: center;
}


.starfish {
    width: 100%;
    height: auto;
}

.text {
    font-size: 48px;
    color: white;
    margin-top: 10px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

