/* general style  */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #cce7e8;
}

/* header styles */
header .header-container {
    position: relative;
    text-align: center;
    color: white;
}

header .header-container img {
    width: 100%;
    height: auto;
}

header .header-container .site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    color: white;
}